#choose {
    max-width: 50%;
    max-height: 100%;
    margin: auto;
    margin-top: 2em;
}

#choose * {
    margin: auto;
}

#choose img {
    max-width: inherit;
    max-height: inherit;
    padding: 1em;
}

#competition {
    background-color: #00005f;
    color: white;
}

#choose .dropdown * {
    width: 100%;
}

#choose > .card-body > * {
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    #choose {
        max-width: 100%;
        border: none;
        margin-top: 0;
    }
}