.middle-wrapper {
    display: table;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.warning-red {
    border-left: 6px solid;
    padding: 7px;
    border-color: #d0454c;
    background-color: #ffbdbd;
    color: #000;
}